.meatPage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-left: 10px solid #4CAF50; /* Add a left border with green color */
    border-right: 10px solid #4CAF50; /* Add a right border with green color */
    min-height: 100vh; /* Ensure the full height of the viewport is covered */
    padding: 20px; /* Add some padding to ensure space between border and content */
}

.middle-column {
    flex: 1;
}

.middle-column {
    max-width: 800px; 
    margin-left: 75px;
    margin-right: 75px;
    text-align: center; /* Text inside the middle column will be centered */
    /* Additional adjustments can be made here for spacing and alignment */
}
